$background_color_banniere : rgb(26, 26, 26);
$background_color_section_amont : rgba(134, 81, 203, 0.8);
$background_color_section_intermediaire : rgba(227, 147, 93, 0.8);
$background_color_section_aval : rgba(48, 155, 209, 0.8);
$background_color_audio_amont : aqua;
$colo_banniere_p : white;
$background_color_type_activite : #d3555d;
$color_sous_filiere : #ca303a;

//var taille
$size_left_box_width : 60%;
$size_acteur_profil : 20vmin;
$gap : 5vmin;


#filiere_audiovisuel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    .section_filiere:nth-child(1){
        background-color: $background_color_banniere;
    }
    
    .section_filiere:nth-child(2){
        background-color: $background_color_section_amont;
    }

    .section_filiere:nth-child(3){
        background-color: $background_color_section_intermediaire;
    }
    
    .section_filiere:nth-child(4){
        background-color: $background_color_section_aval;
    }
    
    .section_filiere{
        padding-top: 10vmin;
        height: 100%;
        min-height: 100vh;
        // display: flex;
        scroll-snap-align: start;
        position: relative;
        
        .banniere_filiere{
            height: 100vmin;
            color: $colo_banniere_p;
            
            .container{
                // display: flex;
                .left_box_banniere{
                    width: $size_left_box_width;
                    margin-top: 15vh;
                }
            }
        }

        .phase {
            .title_phase{
                position : absolute;
                // top : 50%;
                right: 0;
                font-size: 10vh;
                font-weight: 800;
                transform: rotate(-90deg);
                opacity: 0.8;
                color: $colo_banniere_p;
                
                text-transform: uppercase;
                transform-origin: bottom right;

                // p{
                // }
            }
            position: relative;

            // background-color: $background_color_audio_amont ;
            .objet_filtre{
                position: relative;
                text-transform: uppercase;
                width: $size_acteur_profil;
                height: $size_acteur_profil;
                border-radius: 50%;
                margin: $gap;
                cursor: pointer;
            
                p{
                    position: relative;
                    top: 43%;
                    text-align: center;
                }
            }
            .section_type_activite{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                .acteur_box{
                    position: relative;
                    width: $size_acteur_profil*2;
                    height: $size_acteur_profil*2;
                    text-align: center;
                    img{
                        position: relative;
                        width: $size_acteur_profil;
                        height: $size_acteur_profil;
                        border-radius: 50%;
                        
                    }
                    p{
                        position: relative;
                        color: $colo_banniere_p;
                    }
                
                }
            }
            .grisee{
                filter: grayscale(1) blur(4px);
            }

            .objet_filtre_notClicked{
                background-color: $background_color_type_activite;
                color: $colo_banniere_p;
            }

            .objet_filtre_clicked{
                background-color: white;
                box-shadow:0px 0px 0px 5px $background_color_type_activite inset; //border inside
                color: $background_color_type_activite;
            }

            .title_sous_filiere_notClicked{
                background-color: $color_sous_filiere;
                color: $colo_banniere_p;
            }

            .title_sous_filiere_clicked{
                background-color: white;
                box-shadow:0px 0px 0px 5px $color_sous_filiere inset; //border inside
                color: $color_sous_filiere;
            }

        }
    }
}


////////////////

.block_filiere{
    width: 100px;
    height: 100px;
    margin: 20px;
}
#block_filiere_audio{
    background-color: yellow;
}

#block_filiere_audio:hover ~ #block_filiere_jeu, #block_filiere_audio:hover ~ #block_filiere_cine{
    filter: grayscale(1) blur(4px);
}

#block_filiere_jeu{
    background-color: orange;
}
#block_filiere_cine{
    background-color: lightblue;
}

