/* Custom CSS par AVMN */

:root {
  /*VARIABLES GLOBALE*/
  --main_color: #000;
  --second_color: red;
  --main_color_filiere_1: #D90000; /* couleur audiovisuel */
  --main_color_filiere_2: #F2BE1F; /* couleur cinéma */
  --main_color_filiere_3: #B800B8; /* couleur jeu vidéo */
  --desk_width: 1920px;
  --font_title: 'Oswald', sans-serif;
  --main_font: 'Poppins', sans-serif;
  
  /*AUTRES VARIABLES*/
  --size_acteur_box : 150px; /* taille des boites/bulles acteur */
  --size_objet_sous_filiere: 115px; /* taille des filtres sous-filières */
  --size_objet_type_activite: 87px; /* taille des filtres type-activité */
  --font_size_tag_sous_filiere : 9px; /* taille de police des filtres sous-filières */
  --font_size_tag_type_activite : 7px; /* taille de police des filtres type-activité */
  
}

p{
  text-transform: none !important;
}

span{
  color:white !important;
}

/* section */
.section_phase{
/* écran prend une hauteur égal à 100%, 
mais avec un minimum de hauteur égal à la taille de la fênetre */
height: 100% ! important; 
min-height: 100vh;
}

/* filtre*/

/* bloc des 2 filtres (sous filiere et type d'activité) => à centré*/
.bloc_filter{
  /* centré les filtres au centre */
  text-align: center;
}

/* chaque filtres */
.objet_filtre {
  /* display: inline-block pour que les éléments se suivent  */
  display: inline-block;
  margin: 1em; /* ajout de marge */
  border-radius: 100% !important; /* pour créer des ronds */
  text-transform: uppercase !important; /* mettre tout le texte en majuscule */
  /* centrer horizontalement le texte */
  text-align: center;
  overflow-wrap: break-word;
  /* temps animation */
  transition: all .2s ease-in-out;
}

.objet_filtre:hover{
  cursor: pointer; /* en hover */
  /* changer la taille du filtre en hover */
  transform: scale(1.05);
  /* opacity: .9; */
}

/* les tailles pour les filtres sous-filière */
.tag_sous_filiere{
  /* height = width = line-height*/
  height: var(--size_objet_sous_filiere); 
  width: var(--size_objet_sous_filiere);
  line-height: var(--size_objet_sous_filiere);
  font-size: var(--font_size_tag_sous_filiere);
}

/* pour tous les éléments span,"enfant" de .objet_filtre : */
.objet_filtre>span{
  display: inline-block;
  /* centrer verticalement le texte*/
  vertical-align: middle;
  /* pour que les élément reste toujours dans la div */
  /* à appliquer quand il y a des éléments sur plus d'une seul ligne */
  line-height: normal; 
  /* pointer-events permet de résoudre le prob où la fonction js ne s'emclanche pas lorsque l'utilisateur ne clique que sur span et pas le container parent */
  pointer-events: none; 
}

/* les tailles pour les filtre de type d'activité */
.tag_type_activite{
  /* height = width = line-height*/
  height: var(--size_objet_type_activite);
  width: var(--size_objet_type_activite);
  line-height: var(--size_objet_type_activite);
  font-size: var(--font_size_tag_type_activite);
}

.grisee{
  /* classe premettant de grisé et de flouter les éléments qui ne correspondent pas */
  filter: grayscale(1) blur(4px);
}

/* Les couleurs des filtre: */
.objet_filtre_notClicked, .objet_filtre .objet_filtre_notClicked{
  /* appliquer à tous les boutons non cliqué */
  color: white;
}


.objet_filtre_clicked, .objet_filtre .objet_filtre_clicked{
  /* appliqué à tous les filtres cliqués */
  background-color: white !important;
}

/* changer la couleur des bouton en fonction des filtres */
/* pour audiovisuel */
.section_filiere_audiovisuel .objet_filtre_notClicked, .bloc_filiere .objet_filtre .objet_filtre_notClicked{
  background-color: var(--main_color_filiere_1);
}

/* couleur du bord des filtre de la page audiovisuel */
.section_filiere_audiovisuel .objet_filtre{
  box-shadow:0px 0px 0px 5px var(--main_color_filiere_1);
}
.section_filiere_audiovisuel .objet_filtre_clicked span, .bloc_filiere .objet_filtre .objet_filtre_clicked span{
  color: var(--main_color_filiere_1) !important;
}

/* pour cinéma */
.section_filiere_cinema .objet_filtre_notClicked, .objet_filtre .objet_filtre_notClicked{
  background-color: var(--main_color_filiere_2) !important;
}

.section_filiere_cinema .objet_filtre_clicked span, .objet_filtre .objet_filtre_clicked span{
  color: var(--main_color_filiere_2) !important;
}

/* couleur du bord des filtre de la page cinema */
.section_filiere_cinema .objet_filtre {
  box-shadow:0px 0px 0px 5px var(--main_color_filiere_2); 
}

/* pour jeu vidéo */
.section_filiere_jeuvideo .objet_filtre_notClicked, .objet_filtre .objet_filtre_notClicked{
  background-color: var(--main_color_filiere_3) !important;
}

.section_filiere_jeuvideo .objet_filtre_clicked span, .objet_filtre .objet_filtre_clicked span{
  color: var(--main_color_filiere_3) !important;
}

/* couleur du bord des filtre de la page jeu vidéo */
.section_filiere_jeuvideo .objet_filtre{
  box-shadow:0px 0px 0px 5px var(--main_color_filiere_3); 
}

/* style acteur_box */
.acteur_box{
  /* width = height */
  width: calc(var(--size_acteur_box)*1.25);
  height: calc(var(--size_acteur_box)*1.25);
  text-align: center; /* centrer le texte */
  color: white;
  text-transform: capitalize; /* mettre un majuscule à chque début de mot */
  transition: .2s;
}

/* quand on passe la sourie sur les bulles acteurs */
.acteur_box:hover {
  cursor: pointer;
  /* changement d'opacité et d'échelle */
  opacity: .8;
  transform: scale(1.1);
  transition: .3s;
}

.acteur_box>img {
  width: var(--size_acteur_box);
  height: var(--size_acteur_box);
  border-radius: 100% !important;
  border-style: solid;
  border-width: 0.5em;
}

/* couleurs des bordures des bulles en fonction des filière : */
/* audiovisuel */
.section_filiere_audiovisuel .acteur_box>img {
  border-color: var(--main_color_filiere_1);
}

/* cinema */
.section_filiere_cinema .acteur_box>img {
  border-color: var(--main_color_filiere_2);
}

/* jeu vidéo */
.section_filiere_jeuvideo .acteur_box>img {
  border-color: var(--main_color_filiere_3);
}

/* titre des phase  */
.section_phase{
  position: relative;
}
.title_phase{
  position : absolute; 
  right: 0;
}


/* Aurazar */

.aurazar-box {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  border: 1px solid blue;
}

.aurazar-box-auteur {
  background: lightgray;
}

.aurazar-box-auteur-identite {
  text-transform: capitalize;
}

.aurazar-box-video {
  background: deeppink;
  color: white;
  text-align: center;
}

/* CSS STICKY

.menu-sticker {
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--font_title);
  font-size: 1.1em;
  display: flex;
  transform: rotate(270deg);
  transform-origin: bottom left;
  position: fixed;
  top: 73%;
  left: 40px;
}

.menu-sticker-item {
  width: 150px;
  border: #b4b2b2 2px solid;
  text-align: center;
  font-weight: 700;
  margin: 0 5px;
  opacity: 0.7;
}

.menu-sticker-item a{
  display: block;
  padding: 5px;
  opacity: 0.7;
}

.menu-sticker-item.menu-item-audio:hover a {
  color: var(--main_color_filiere_1);
  opacity: 1;
}

.menu-sticker-item.menu-item-audio:hover {
  border: var(--main_color_filiere_1) 2px solid;
  opacity: 1;
  transform: scale(1.05);
}

.menu-sticker-item.menu-item-cine:hover a {
  color: var(--main_color_filiere_2);
  opacity: 1;
}

.menu-sticker-item.menu-item-cine:hover {
  border: var(--main_color_filiere_2) 2px solid;
  opacity: 1;
  transform: scale(1.05);
}

.menu-sticker-item.menu-item-cine:onclick {
  transform: scale(1);
}


.menu-sticker-item.menu-item-jv:hover a {
  color: var(--main_color_filiere_3);
  opacity: 1;
}

.menu-sticker-item.menu-item-jv:hover {
  border: var(--main_color_filiere_3) 2px solid;
  opacity: 1;
  transform: scale(1.05);
}

.menu-sticker-item.menu-item-audio:active {
  color: var(--main_color_filiere_1);
  border: var(--main_color_filiere_1) 2px solid;
}

.menu-sticker-item.menu-item-cine:active {
  color: var(--main_color_filiere_2);
  border: var(--main_color_filiere_2) 2px solid;
}

.menu-sticker-item.menu-item-jv:active {
  color: var(--main_color_filiere_3);
  border: var(--main_color_filiere_3) 2px solid;
}
 */

 /* style hover home */
/* #block_filiere_audiovisuel:hover ~ #block_filiere_jeuvideo, #block_filiere_audiovisuel:hover ~ #block_filiere_cinema{
  filter: grayscale(1) blur(4px);
}
#block_filiere_jeuvideo:hover ~ #block_filiere_audiovisuel, #block_filiere_jeuvideo:hover ~ #block_filiere_cinema{
  filter: grayscale(1) blur(4px);
}
#block_filiere_cinema:hover ~ #block_filiere_jeuvideo, #block_filiere_cinema:hover ~ #block_filiere_audiovisuel{
  filter: grayscale(1) blur(4px);
}

#filiere_audiovisuel {
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

#filiere_audiovisuel .section_filiere:nth-child(1) {
  background-color: #1a1a1a;
}

#filiere_audiovisuel .section_filiere:nth-child(2) {
  background-color: rgba(134, 81, 203, 0.8);
}

#filiere_audiovisuel .section_filiere:nth-child(3) {
  background-color: rgba(227, 147, 93, 0.8);
}

#filiere_audiovisuel .section_filiere:nth-child(4) {
  background-color: rgba(48, 155, 209, 0.8);
}

#filiere_audiovisuel .section_filiere {
  padding-top: 10vmin;
  height: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

#filiere_audiovisuel .section_filiere .banniere_filiere {
  height: 100vmin;
  color: white;
}

#filiere_audiovisuel .section_filiere .banniere_filiere .container .left_box_banniere {
  width: 60%;
  margin-top: 15vh;
}

#filiere_audiovisuel .section_filiere .phase {
  position: relative;
}

#filiere_audiovisuel .section_filiere .phase .title_phase {
  position: absolute;
  right: 0;
  font-size: 10vh;
  font-weight: 800;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 0.8;
  color: white;
  text-transform: uppercase;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

#filiere_audiovisuel .section_filiere .phase .objet_filtre {
  position: relative;
  text-transform: uppercase;
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  margin: 5vmin;
  cursor: pointer;
}

#filiere_audiovisuel .section_filiere .phase .objet_filtre p {
  position: relative;
  top: 43%;
  text-align: center;
}

#filiere_audiovisuel .section_filiere .phase .section_type_activite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#filiere_audiovisuel .section_filiere .phase .section_type_activite .acteur_box {
  position: relative;
  width: 40vmin;
  height: 40vmin;
  text-align: center;
}

#filiere_audiovisuel .section_filiere .phase .section_type_activite .acteur_box img {
  position: relative;
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
}

#filiere_audiovisuel .section_filiere .phase .section_type_activite .acteur_box p {
  position: relative;
  color: white;
}

#filiere_audiovisuel .section_filiere .phase .grisee {
  -webkit-filter: grayscale(1) blur(4px);
          filter: grayscale(1) blur(4px);
}

#filiere_audiovisuel .section_filiere .phase .objet_filtre_notClicked {
  background-color: #d3555d;
  color: white;
}

#filiere_audiovisuel .section_filiere .phase .objet_filtre_clicked {
  background-color: white;
  -webkit-box-shadow: 0px 0px 0px 5px #d3555d inset;
          box-shadow: 0px 0px 0px 5px #d3555d inset;
  color: #d3555d;
}

#filiere_audiovisuel .section_filiere .phase .title_sous_filiere_notClicked {
  background-color: #ca303a;
  color: white;
}

#filiere_audiovisuel .section_filiere .phase .title_sous_filiere_clicked {
  background-color: white;
  -webkit-box-shadow: 0px 0px 0px 5px #ca303a inset;
          box-shadow: 0px 0px 0px 5px #ca303a inset;
  color: #ca303a;
}

.block_filiere {
  width: 100px;
  height: 100px;
  margin: 20px;
}

#block_filiere_audio {
  background-color: yellow;
}

#block_filiere_audio:hover ~ #block_filiere_jeu, #block_filiere_audio:hover ~ #block_filiere_cine {
  -webkit-filter: grayscale(1) blur(4px);
          filter: grayscale(1) blur(4px);
}

#block_filiere_jeu {
  background-color: orange;
}

#block_filiere_cine {
  background-color: lightblue;
} */
/*# sourceMappingURL=layout_filiere.css.map */

/* ICI VOTRE CODE POUR L'AFFICHAGE SUR TABLETTE jusqu'à 767px, breakpoint initial du thème */
@media(max-width: 767px) {

  /* Ici mettez votre code CSS pour définir ce que vous souhaitez */

}

/* ICI VOTRE CODE POUR L'AFFICHAGE SUR MOBILE jusqu'à 650px, toujours utile vous verrez ^^ */
@media(max-width: 650px) {

  /* Ici mettez votre code CSS pour définir ce que vous souhaitez */ 

  /* taille et dimension des filtres sous-filière en version mobile */
  .tag_sous_filiere{
    margin: .5rem;
    height: calc(var(--size_objet_sous_filiere)*0.75);
    width: calc(var(--size_objet_sous_filiere)*0.75);
    line-height:calc(var(--size_objet_sous_filiere)*0.75);
    font-size: calc(var(--font_size_tag_sous_filiere)*0.5) !important; 
    /* font-size semble ici ne pas fonctionner car inférieur à 9px (taille minimum pour certain navigateur)? */
  }

  /* taille et dimension des filtres sous-filière en version mobile */
  .tag_type_activite{
    height: calc(var(--size_objet_type_activite)*0.75);
    width: calc(var(--size_objet_type_activite)*0.75);
    line-height: calc(var(--size_objet_type_activite)*0.75);
  }

  .tag_type_activite span{
    /* font-size semble ici ne pas fonctionner car inférieur à 9px? */
    font-size: 70%;
    /* font-size: calc(var(--font_size_tag_type_activite)*0.6) !important; */
  }
  
  /* rétrécir un peu la taille des "bulles" acteurs */
  .acteur_box{
    width: calc(var(--size_acteur_box)*.9);
    height: calc(var(--size_acteur_box)*.9);
  }

  .acteur_box>img {
    width: calc(var(--size_acteur_box)*0.7);
    height: calc(var(--size_acteur_box)*0.7);
  }

}